nav{
    display: flex;
    background-color: #B6B038;
    padding: 10px;
}
.topocoin {
    width: 25px;
    vertical-align: middle;

}
.navbar-item {
    margin-top: 5px;
    margin-left: 5px;
    font-size: large;
    padding-right: 20px;
    vertical-align: middle;
    color: black;

}
.navtext {
    vertical-align: middle;
    text-decoration: none;
    color: black;
}
