
nav{
    display: flex;
    background-color: #B6B038;
    padding: 10px;
}
.topocoin {
    width: 25px;
    vertical-align: middle;

}
.navbar-item {
    margin-top: 5px;
    margin-left: 5px;
    font-size: large;
    padding-right: 20px;
    vertical-align: middle;
    color: black;

}
.navtext {
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

aside{
    background-color: #B6B038;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: inline-end;
    border-radius: 50px;
}
.asidetext{
    color: black;
    font-size: large;
    border-width: 10px;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 1px;
}
#R{
    text-decoration: line-through;
}
section{
    background-color: #B6B038;
    float: inline-start;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 50px;
}
#sectionimg1{
    width: 850px;
}
#sectionimg2{
    width: 550px;
}
article{
    margin-top: 620px;
    background-color: #B6B038;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.articlet{
    font-size: xx-large;
    text-align: center;
    font-weight: 900;
}
.articlesubt{
    font-size: larger;
    text-align: center;
    font-weight: 600;
}
.text{
    font-size: large;
}
blockquote{
    font-size: large;
}
.footertext{
    font-size: large;
    text-align: center;
}
before{
    display: flex;
    margin-top: 20px;
    background-color: #B6B038;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.beforet{
    font-weight: 500;
    font-size: larger;
}
table{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.profit{
    background-color: yellowgreen;
}
.lose{
    background-color: red;
}
tr:hover{
    background-color: white;
    transition: 0.7s;
}
.navbar-item:hover{
    background-color: rgb(236, 236, 4);
    transition: 0.7s;
}


#square{
    background-color: #B6B038;
    width: 800px;
    height: 450px;
    border-radius: 8px;
    position: relative ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteiner1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
}

#square #sectionimg3{
    padding: 10px;
    object-fit: cover;
    width: 700px;
    
}
body{
    background: #c7c700;
background: linear-gradient(146deg,rgba(199, 199, 0, 1) 0%, rgba(168, 146, 0, 1) 50%, rgba(237, 221, 83, 1) 100%);
background-size: contain;
background-repeat: no-repeat;
}
#footer2{
    margin-top: 25%;
}
#square2{
    background-color: #B6B038;
    width: 700px;
    height: 420px;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteiner2{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#tabela{
    margin-top: 1%;
    float: inline-end;
    margin-right: 16%;
}

