
nav{
    display: flex;
    background-color: #B6B038;
    padding: 10px;
}
.topocoin {
    width: 25px;
    vertical-align: middle;

}
.navbar-item {
    margin-top: 5px;
    margin-left: 5px;
    font-size: large;
    padding-right: 20px;
    vertical-align: middle;
    color: black;

}
.navtext {
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

aside{
    background-color: #B6B038;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: inline-end;
    border-radius: 50px;
}
.asidetext{
    color: black;
    font-size: large;
    border-width: 10px;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 1px;
}
#R{
    text-decoration: line-through;
}
section{
    background-color: #B6B038;
    float: inline-start;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 50px;
}
#sectionimg1{
    width: 850px;
}
#sectionimg2{
    width: 550px;
}
article{
    margin-top: 620px;
    background-color: #B6B038;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.articlet{
    font-size: xx-large;
    text-align: center;
    font-weight: 900;
}
.articlesubt{
    font-size: larger;
    text-align: center;
    font-weight: 600;
}
.text{
    font-size: large;
}
blockquote{
    font-size: large;
}
.footertext{
    font-size: large;
    text-align: center;
}
before{
    display: flex;
    margin-top: 20px;
    background-color: #B6B038;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.beforet{
    font-weight: 500;
    font-size: larger;
}
table{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}